.button {
  padding: 8px 16px 9px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: $white;
  font-size: 20px;
  &_blue {
    background-color: aqua;
    
    &:hover {
      background-color: aqua;
      color: $white;
    }
    &:active {
      background-color: aqua;
      color: $white;
    }
  }
  &_purple {
    background-color: #553098;
    color: $white;
    &:hover {
      background-color:  #6e40c9;
      color: $white;
    }
    &:active {
      background-color: #553098;
      color: $white;
    }
   
  }
  &_green {
    background-color: aqua;
    color: $white;
    &:hover {
      background-color: aqua;
      color: $white;
    }
    &:active {
      background-color: aqua;
      color: $white;
    }
  }
  &_red {
    background-color: aqua;
    color: $white;
    &:hover {
      background-color: aqua;
      color: $white;
    }
    &:active {
      background-color: aqua;
      color: $white;
    }
  }
  &:disabled {
    color: $white;
    background-color: $disabled-grey;
    border: 1px solid $white;
  }
}
