.report{
    width: 1280px;
    margin: auto;
    margin-top: 20px;
    &__table{
        border: 1px solid $table-border1;
        border-spacing: 0px;
        width: 1280px;
        margin: auto;
        color:$table-color;
        &__header{
            font-weight: bold;
            background: $table-bg1;
            &__first{
                border-bottom: 2px solid $table-border2;
            }
            &__second{
                border-bottom: 2px solid $table-border2;
            }
            &__third{
                border-bottom: 2px solid $table-border2;
            }
        }

        &__body{
            &__first{
                text-decoration: underline;
            }
            &__second{

            }
            &__third{
                
            }
        }
        &__body:nth-child(2n){
            background: white;
        }
        &__body:nth-child(2n+1){
            background:$table-bg1;
        }
    }
    &__result{
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__button{
            width: 200px;
            height: 50px;
            margin: 20px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            font-weight: bold;
        }
    }
}
#good{
    background: $table-green2;
}
#bad{
    background: $table-red2;
}