@import "./colors.scss";

@import "../components/style.scss";

.root {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.app{
    color:black;
    display: flex;
}
.display-none{
    display: none;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.main {
  margin-top: 80px;
  width: 100vw;
  min-height: calc(100vh - 80px);
}