$dark-gray: rgb(22, 27, 34);
$black: #0d1117;
$gray: rgb(201, 209, 217);
$white: #ffffff;

$disabled-gray: rgb(117, 122, 128);
$blue: #0366d6;
$blue-hover: #0475f6;
$blue-hover-secondary: #58a2f6;
$purple: #553098;
$light-purple: #6e40c9;

$tag-blue: #004dff;
$tag-yellow:  #fece02;
$tag-orange:#f38207;
$tag-green: #077f32;
$tag-red: #dc0000;
$tag-default: #6e40c9;

$danger-orange: #ff6700;
$info-gray: gray;