$table-bg1: rgb(251, 251, 252);
$table-bg2: white;
$table-border1: rgb(235, 236, 236);
$table-border2: rgb(242, 243, 244);
$table-color: rgb(126, 127, 128);
$table-green: rgb(85, 207, 59);
$table-green2: rgb(41, 195, 100);
$table-red: rgb(239, 61, 62);
$table-red2: rgb(210, 61, 62);

$dark-grey: rgb(22, 27, 34);
$black: #0d1117;
// $grey: rgb(201, 209, 217);
$white: #ffffff;

$disabled-grey: rgb(117, 122, 128);
$blue: #0366d6;
$blue-hover: #0475f6;
$blue-hover-secondary: #58a2f6;
$purple: #553098;
$light-purple: #6e40c9;